extends ./layouts/dashboard.pug
block main
  #layoutSidenav_content
    main
      .container-fluid
        // quiero cargar las cosas aqui
        h1.mt-4 Asignar Rutas
        form
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='ruta') Ruta
                select#ruta.form-control
                  option RUTA-D10 Malambo Via Caracoli
                  option RUTA-C17 Malambo Via40
                  option RUTA-D11 Calle 11 Zoologico
                  option RUTA-D9 Bernando Soledad
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='conductor') Conductor
                select#ruta.form-control.js-example-basic-single
                  option Daniel Salinas Salinas
                  option Yitzhak Ruiz Niebles
                  option Martin Jimenez Aragon
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='placa') Placa
                input#placa.form-control(type='text')
          .form-group
            .row
              .col-md-6.col-lg-3
                label(for='fecha') Fecha
                input#Fecha.form-control(type='date')
          input.btn.btn-primary(type='submit' value='Enviar')
        audio#audio
          source(type='audio/mp3' src='../../assets/mp3/alert.mp3')
        // Button trigger modal
        button#buttonexampleModalCenter.btn.btn-primary.d-none(type='button' data-toggle='modal' data-target='#exampleModalCenter')
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; Your Website 2019
          div
            a(href='#') Privacy Policy
            |  &middot;
            a(href='#') Terms &amp; Conditions
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css' rel='stylesheet')
  script.
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });
  script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js')

  script(src="../socket.io/socket.io.js")