extends ./layouts/dashboard.pug
block headBlock
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet')
  style.
    body {
    margin: 0;
    padding: 0;
    }
    #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
block main
  #layoutSidenav_content
    main
      
      // quiero cargar las cosas aqui
      #map
      
        
      audio#audio
        source(type='audio/mp3' src='./assets/mp3/alert.mp3')
      // Button trigger modal
      button#buttonexampleModalCenter.btn.btn-primary.d-none(type='button' data-toggle='modal' data-target='#exampleModalCenter')
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy;onny bus 2020
          div
            a(href='#') politicas de privacidad
            |  &middot;
            a(href='#') terminos &amp; condiciones

block footerBlock
  script(src="/js/map.js")
  script(src="/js/notificaciones.js") 