extends ./../layouts/dashboard.pug
block main
  #layoutSidenav_content
    main
      .container-fluid
        // quiero cargar las cosas aqui
        h1.mt-4 Asignar Rutas
        if error
          span.d-flex.justify-content-center.alert.alert-danger
            =error
        if message
          span.d-flex.justify-content-center.alert.alert-success
            =message
        form
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='ruta') Rutas
                select#ruta.form-control
                  if rutas
                    each ruta in rutas
                      option(value=`${ruta._id}`)= ruta.nombre  
                  else
                      option(disabled="true") no hay rutas registradas
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='conductor') Conductores
                select#ruta.form-control.js-example-basic-single
                  if conductores
                    each conductor in conductores
                        option(value=`${conductor._id}`)= conductor.nombres+" "+conductor.apellidos  
                  else
                      option(disabled="true") no hay conductores registradas
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='placa') Placa de bus
                select#buses.form-control.bus-js-example-basic-single
                  if buses
                    each bus in buses
                        option(value=`${bus._id}`)= bus.placa  
                  else
                      option(disabled="true") no hay buses registradas
          .form-group
            .row
              .col-md-6.col-lg-3
                label(for='fecha') Fecha de inicio
                input#Fecha.form-control(type='date')
          .form-group
            .row
              .col-md-6.col-lg-3
                label(for='fecha') Fecha de fin
                input#Fecha.form-control(type='date')
          input.btn.btn-primary(type='submit' value='Enviar')
        audio#audio
          source(type='audio/mp3' src='../../assets/mp3/alert.mp3')
        // Button trigger modal
        button#buttonexampleModalCenter.btn.btn-primary.d-none(type='button' data-toggle='modal' data-target='#exampleModalCenter')
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy; Your Website 2019
          div
            a(href='#') Privacy Policy
            |  &middot;
            a(href='#') Terms &amp; Conditions
block footerBlock
  link(href='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css' rel='stylesheet')
  script.
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    $('.bus-js-example-basic-single').select2();
    });
  script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js')
  script(src="/js/notificaciones.js") 