extends ./../layouts/dashboard.pug
block main
  #layoutSidenav_content
    main
      .container-fluid
        // quiero cargar las cosas aqui
        h1.mt-4 Registro buses
        form(action='')
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='nombre') Placa
                input#nombre.form-control(type='text')
          .form-group
            .row
              .col-md-6.col-lg-7
                label(for='apellido') codigo
                input#apellido.form-control(type='text')
          input.btn.btn-primary(type='submit' value='enviar')
        audio#audio
          source(type='audio/mp3' src='../../assets/mp3/alert.mp3')
        // Modal
        // Button trigger modal
        button#buttonexampleModalCenter.btn.btn-primary.d-none(type='button' data-toggle='modal' data-target='#exampleModalCenter')
    footer.py-4.bg-light.mt-auto
      .container-fluid
        .d-flex.align-items-center.justify-content-between.small
          .text-muted Copyright &copy;onny bus 2020
          div
            a(href='#') politicas de privacidad
            |  &middot;
            a(href='#') terminos &amp; condiciones
block footerBlock
  script(src="/js/notificaciones.js") 
  
